* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  border: 1.5px solid black;
  width: 800px;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}